* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d0e0f;
}

body{
  color: white;
}

.pokemons{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

